.contest-container {
    .contest-top {
        img {
            width: 100%;
            border-radius: 6px;
        }
    }

    .contest-bottom {
        height: 300px;
        background-color: #fff;
        color: #A37946;
        padding: 0 150px 0 150px;
        border-radius: 6px;

        .contest-bottom-btn {
            width: 270px;
            height: 50px;
            background-color: #f3f2f1;
            outline: none;

            &:hover {
                background-color: #8B4513;
            }
        }
    }

    h4 {
        font-style: italic;
    }

    p {
        font-size: 18px;
        line-height: 1.6;
        margin-top: 16px;
    }
}