.header-right {
    .nav-link {
        font-size: 18px;
        color: #000;
        cursor: pointer;

        &.nav-link:focus,
        &.nav-link:hover {
            color: #8B4513;
        }
    }
}

.header-left {
    span {
        font-size: 18px;
    }

    .navbar-brand {
        cursor: pointer;
    }
}